<div class="container">
    <%= render "shared/errors", obj: @article %>
    <div class="row justify-content-center">
        <%= form_with(model: @article,class: "shadow p-3 mb-3 bg-info rounded",local: true) do |form| %>
            <div class="form-group row">
                <%=form.label :title, class: "col-2 col-form-label"%>
                <div class="col-10">
                    <%=form.text_field :title,class: "form-control",placeholder: "Title of article"%>
                </div>
            </div>

            <div class="form-group row">
                <%=form.label :description, class: "col-2 col-form-label" %>
                <div class="col-10">
                    <%=form.text_area :description,rows: 10 ,class: "form-control", placeholder: "Description of article"%>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                <%= form.submit "Sign up",class: "btn btn-outline-light btn-light text-black" , id: "form-button" %>
            </div>
        <% end %>
        <div class="d-flex justify-content-center">
            <%= link_to "[Cancel and return to articles list]", articles_path(), class:"text-info"%>
        </div>
    </div>
</div>


